
body {
 background-color: #000;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}









.limb {
  stroke: #666;
}

.joint {
  stroke: #fff;
  fill: #999;
}

#header {
    font-size: 10pt;
    font-family: Helvetica, sans;
    color: #999;
    
}

#videoframe {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 320px;
    height: 240px;
}

a:hover, a:focus, a {
    color: #99ff99;
}

a:active {
    color: #22ff22;
}

                  
